body{
    background-color: black;
    height: 100vh;
}
img{
    width: 100%;
    height: 100%;
}

.item-container{
    padding: 10px;
    width: 80%;
    margin: 40px auto;
    display: flex;
}
.item{
    width: 600px;
    height: 600px;
    position: relative;
}

.item:hover.item::after{
   opacity: 1;
   height: 60px;
   
}
.item::after{
    content: " ";
    background-color: rgba(0, 0, 0, 0.503);
    position: absolute;
    bottom: 30px;
    left: 45px; 
    width: 86%;
    height: 0;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    animation-name: example;
   animation-duration: 4s;

}
.item-2-container{
    height: 600px;
    display: flex;
    flex-direction: column;
}
.item-2{
    width: 600px;
    height: 300px;
    padding-left: 10px;
}
/* @keyframes example{
    from {bottom:-30px;left:45px;}
    to {bottom: 30px;left: 45px;}
} */