#recommend{
    .imgs_container{
        padding-top: 20px;
        padding-bottom: 30px;
        @include flex(flex,row,space-between,15px);
        .img_item{
            width: 220px;
            min-height: 300px;
            .img{
                height: 250px;
                transition: all .3s ease-in-out;
                position: relative;
                a{
                    @include  card_ltl_img(absolute,10px,10px,35px,35px,inline-block,.1s ease-in-out,50%,5px solid rgba(197, 192, 192, 0.773) );
                    z-index: 1;
                    img{
                        @include img(50%,100%,100%,cover)
                    }
                    &:hover{
                        border:5px solid #fff; 
                    }
                }
                .scndltleimg{
                    left: 30px;
                    z-index: 0;
                }
                 img{
                
                    @include img(20px,100%,100%,cover);
                 }
                 &:hover{
                    cursor: pointer;
                    transform: translate(0px,-3px);
                 }
            }
            .end{
                padding: 5px;
                
                p{
                    max-width: 300px;
                    font-size: 20px;
                    font-weight:700;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .rcmnd_ftr{
        @include flex(flex,row,space-between,0px);
        padding-bottom: 20px;
        margin-top: 100px;
        .left{
           p{
            font-size: 50px;
            span{
              font-weight: 600
            }
           }
        }
        .right{
           input{
            @include input(
                20px,30px,none,24px,rgb(208, 204, 204),rgba(219, 215, 215, 0.374), .2s ease-in-out);
                text-align: center; 
                
                &:focus{
                    transform: translate(-10px,0px);
                }
           }
           a{
            transform: translate(-40px, 0px);
            display: inline-block;
            @include big_btn(20px,170px,30px,black,white,none,24px,center);
            &:hover{
                background-color: $btn_hvr_color;
            }
           }
        }
    }
}
.container{
    .hdr_content{
        padding-bottom: 50px;
        h4{
            text-align: center;
            font-size: 55px;
            padding: 10px;
        }
        p{
            font-size: 30px;
            max-width: 756px;
            margin: 0 auto;
            padding: 10px;
            text-align: center;
            // font-weight: 500;
        }
    }
}