*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    background-color: cornflowerblue;
}
.logo{
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    line-height: 80px;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    line-height: 80px;
    gap: 10px;
}
nav ul li a{
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    background-color:#3b5998;
    color:#fff;
    transition: all 0.3s;
    text-transform: uppercase;
   
}
nav ul li a:hover{
  color:#3b5998;
  background-color: #fff;    
}
.container{
    width: 80%;
    margin: 0% auto;
}
.showcase{
    background-image: 
    linear-gradient(to bottom,rgba(173, 124, 252, 0.2), rgba(30, 177, 250, 0.126)),
    url('..//img/bg.jpeg');
    
    height: 60vh;
    background-position: center;
    background-size: cover;
    position: relative;
   
}
.showcase-content{
    color: #fff;
    background-color:rgba(46,76,109,0.3) ;
    width:50%;
    height: 40%;
    padding: 25px;
    position: absolute;
    left: 25%;
    top: 30%;
   

}
.showcase-content h2{
    margin-bottom: 15px;
}
.cards{
    margin-top: 20px;
    height: 400px;
   text-align: center;
    
}
.cards-title{
    color:#3b5998;
    margin-bottom: 8px;
}
.card{
    width: 300px;
    display: inline-block;
    text-align: center;
    background-color:aliceblue;
    padding: 40px;
    transition: all 0.4s;
}
.card:hover{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 }
button{
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 8px 14px; 
    margin-top: 10px;
    transition: all 0.4s;
    border-color: #fff;
}
button:hover{
background-color: #3b5998;
color: aliceblue;
}
footer{
    height: 100px;
    background-color: cornflowerblue;
    
}
.footer-links ul li{
   display: inline-block;
   line-height: 80px;
}
.footer-links ul li a{
   color: #fff;
   font-size: 18px;
   margin-right: 7px;
   transition: all 0.5s;
}
.footer-links ul li a:hover{
    color: black;
}
.container-two{
    display: flex;
    justify-content: space-between;
}
.footer-icons{
    line-height: 80px;

}
.fa-facebook{
    background-color: #3b5998;
    color: #fff;
}
.fa-twitter{
 background-color: #55Acee;
 color: #fff;
}
.fa-instagram{
background-color:#125688;
color:#fff;
}
i{
    border-radius: 5px;
    margin-right: 4px;
    transition: all 0.4s;
}
i:hover{
    opacity: 0.6;
}

