*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    background-color: #062f3f;
}
.logo{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.main-nav-item{
    line-height: 30px;
    display: flex;
    gap: 5px;
}
.item-links{
    background-color:#3b5998;
    color: #fff;
    border-radius: 5px;
    padding: 8px 14px;
    text-transform: uppercase;
    transition: all 0.3s;
}
.item-links:hover{
   color:#3b5998; 
   background-color: #fff;
}
.container{
    width: 80%;
    margin: 0% auto;
}

/* section-showcase */
.showcase{
    background-image: linear-gradient(to bottom,rgba(173, 124, 252, 0.2), rgba(30, 177, 250, 0.126)),
    url(..//img/bg.jpeg)
    ;    
    height: 500px;
    background-size:cover;
    background-position: center;
    position: relative;
}
.showcase-content{
    background-color:rgba(46,76,109,0.3) ;
    color: white;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 40%;
    padding: 20px;
    border-radius: 5px;
}
.showcase-content h3{
    margin-top:20px;
}
.container-2{
    width: 80%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
/* section-plan */
.plans{
    margin-top: 20px;
    margin-bottom:100px;
    text-align: center;
}
.plan-title{
    color:#125688;
    margin-bottom: 15px;
}
.plan-card{
    text-align: center;
    padding: 20px;
    background-color:aliceblue;
    transition: all 0.4s linear;
    
}

.plan-card:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.plan-card h2,.plan-card h3{
    margin-bottom: 10px;
}
.plan-card button{
    margin-top: 5px;
    padding: 8px 14px;
    background-color:#3b5998;
    color: #fff;
    transition: all 0.4s;
    border-radius: 4px;
    border-color:#fff;

}
.plan-card button:hover{
    background-color: #fff;
    color:#3b5998;
}
/* section-counter */
.counter{
    background-color:cornflowerblue;
    margin-bottom: 30px;
    
}
.container-counter{
    padding: 20px;
    width: 80%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;

}
.col-3 h2,.col-3 p{
    color: #fff;
}

/* section-movie */
.movies{
    
    margin-bottom: 30px;
}
.movies-title{
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    color:#125688;    
}
.movie-img{
    width: 100%;
    height: 60%;
}
.movie-btn{
    border-color: #fff;
    padding: 8px 16px;
    color: #fff;
    background-color:#3b5998;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all 0.4s;

}
.movie-btn:hover{
    color:#3b5998;
    background-color:#fff;
}
.movie-card{
    height: 400px;
    transition: all 0.4s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}

.movie-card h2{
    margin-top: 10px;
    margin-bottom: 10px;

}
/* footer */
footer{
    background-color:#212b38;
    height: 130px;
    margin-top: 40px;
}

.footer-links a{
    color: #fff;
    font-size: 20px;
    transition: all 0.3s;
    margin-right: 10px;
}
.footer-links a:hover{
    color:cornflowerblue;
}
.fab{
    padding: 10px;
    border-radius: 50%;
    
}
.fab:hover{
    opacity: 0.7;
}
.fa-facebook{
    background-color: #3b5998;
    color: #fff;
}
.fa-twitter{
 background-color: #55Acee;
 color: #fff;
}
.fa-instagram{
background-color:#125688;
color:#fff;
}