@mixin flex(
    $display,
    $direction,
    $justf,
    $gap,
){
   display:$display ;
   justify-content: $justf;
   gap: $gap;
   flex-direction: $direction;
}
@mixin card(
    $card-width,
    $card-height,
){
    max-width: $card-width;
    height: $card-height;
}
@mixin img(
    $br_radius,
    $img_width,
    $img_height,
    $obj_fit,
){
   width: $img_width;
   height: $img_height;
   border-radius: $br_radius;
   object-fit: $obj_fit;
}
@mixin card_links(
  $m-top,
  $color,
  $txt_dcrtn,
  $padding,
  $br_radius,
  $bg_color,
){
  margin-top: $m-top;
  color: $color;
  text-decoration: $txt_dcrtn;
  padding: $padding;
  border-radius: $br_radius;
  background-color: $bg_color;
}
@mixin big_btn(
    $padding:null,
    $width:null,
    $br_radius:null,
    $bg_color:null,
    $color:null,
    $txt_dcrtn:null,
    $f_size:null,
    $txt_align:null,
){
   padding: $padding;
   width: $width;
   border-radius: $br_radius;
   background-color: $bg_color;
   color: $color;
   text-decoration: $txt_dcrtn;
   font-size: $f_size;
   text-align:$txt_align ;
}
// padding: 20px;
// width: 170px;
// border-radius: 30px;
// background-color: black;
// color: white;
// text-decoration: none;
// font-size: 24px;
// display: block;