@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 1300px;
}

#footer {
  padding-bottom: 20px;
}
#footer .ftr_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row;
}
#footer .ftr_container .item {
  padding-bottom: 80px;
  padding-top: 100px;
}
#footer .ftr_container .item .logo_ftr {
  margin-bottom: 20px;
  display: inline-block;
  width: 150px;
}
#footer .ftr_container .item .logo_txt {
  font-size: 20px;
  font-weight: 500;
  max-width: 400px;
}
#footer .ftr_container .item .link_title {
  font-weight: 600;
  text-align: start;
  font-size: 22px;
  margin-bottom: 10px;
}
#footer .ftr_container .item ul li {
  list-style-type: none;
  padding: 5px 0px;
}
#footer .ftr_container .item ul li i {
  display: inline-block;
  margin-right: 5px;
}
#footer .ftr_container .item ul li .ftr_link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#footer .ftr_container .item ul li .ftr_link:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
}
.container .navbar {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row;
}
.container .navbar .logo {
  display: inline-block;
  width: 150px;
}
.container .navbar .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .navbar nav {
  line-height: 40px;
}
@media (max-width: 1024px) {
  .container .navbar nav {
    display: none;
  }
}
.container .navbar nav ul {
  list-style-type: none;
  display: flex;
}
.container .navbar nav ul .height:hover {
  text-decoration: underline;
}
.container .navbar nav ul li {
  margin-left: 10px;
  margin-right: 10px;
}
.container .navbar nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.container .navbar nav ul div {
  position: relative;
}
.container .navbar nav ul div .srch {
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  background-color: rgba(191, 190, 190, 0.736);
  border-radius: 20px;
}
.container .navbar nav ul div i {
  position: absolute;
  left: 10px;
  top: 14px;
}
.container .navbar nav ul .btn {
  margin-left: 5px;
  background-color: black;
  padding: 8px 18px;
  color: white;
  border-radius: 30px;
  font-size: 20px;
  display: inline-block;
  border: none;
}
.container .navbar nav ul .btn:hover {
  background-color: blue;
  cursor: pointer;
}

#recommend .imgs_container {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-direction: row;
}
#recommend .imgs_container .img_item {
  width: 220px;
  min-height: 300px;
}
#recommend .imgs_container .img_item .img {
  height: 250px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
#recommend .imgs_container .img_item .img a {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  display: inline-block;
  transition: 0.1s ease-in-out;
  border-radius: 50%;
  border: 5px solid rgba(197, 192, 192, 0.773);
  z-index: 1;
}
#recommend .imgs_container .img_item .img a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#recommend .imgs_container .img_item .img a:hover {
  border: 5px solid #fff;
}
#recommend .imgs_container .img_item .img .scndltleimg {
  left: 30px;
  z-index: 0;
}
#recommend .imgs_container .img_item .img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
#recommend .imgs_container .img_item .img:hover {
  cursor: pointer;
  transform: translate(0px, -3px);
}
#recommend .imgs_container .img_item .end {
  padding: 5px;
}
#recommend .imgs_container .img_item .end p {
  max-width: 300px;
  font-size: 20px;
  font-weight: 700;
}
#recommend .imgs_container .img_item .end p:hover {
  text-decoration: underline;
  cursor: pointer;
}
#recommend .rcmnd_ftr {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  flex-direction: row;
  padding-bottom: 20px;
  margin-top: 100px;
}
#recommend .rcmnd_ftr .left p {
  font-size: 50px;
}
#recommend .rcmnd_ftr .left p span {
  font-weight: 600;
}
#recommend .rcmnd_ftr .right input {
  padding: 20px;
  border-radius: 30px;
  border: none;
  font-size: 24px;
  color: rgb(208, 204, 204);
  background-color: rgba(219, 215, 215, 0.374);
  transition: 0.2s ease-in-out;
  text-align: center;
}
#recommend .rcmnd_ftr .right input:focus {
  transform: translate(-10px, 0px);
}
#recommend .rcmnd_ftr .right a {
  transform: translate(-40px, 0px);
  display: inline-block;
  padding: 20px;
  width: 170px;
  border-radius: 30px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}
#recommend .rcmnd_ftr .right a:hover {
  background-color: blue;
}

.container .hdr_content {
  padding-bottom: 50px;
}
.container .hdr_content h4 {
  text-align: center;
  font-size: 55px;
  padding: 10px;
}
.container .hdr_content p {
  font-size: 30px;
  max-width: 756px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}/*# sourceMappingURL=style-2.css.map */