#footer{
    width: $main-width;
    margin: 0 auto;
    padding-bottom: 20px;
   .ftr_container{
       
       @include flex(flex,row,space-between,10px);
       .item{
            padding-bottom: 80px;
            padding-top: 100px;
           .logo_ftr{
              margin-bottom: 20px;
              display: inline-block;
              width: 150px;
           }
           .logo_txt{
              font-size: 20px;
              font-weight: 500;
              max-width: 400px;
           }
           .link_title{
               font-weight: 600;
               text-align: start;
               font-size: 22px;
               margin-bottom: 10px;
           }
           ul{
               li{
                   list-style-type: none;
                   padding: 5px 0px;
                   i{
                       display: inline-block;
                       margin-right: 5px;
                   }
                   .ftr_link{
                       text-decoration: none;
                       color: black;
                       font-size: 20px;
                       &:hover{
                           text-decoration: underline;
                       }
                   }
               }
           }
       }
 }
}